<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>sdebnath</username>
            <password>{Ka2GRXl0wJYHfqH6Os9oZQaHckX19TtM+C8qLOeS6bU=}</password>
        </server>

        <server>
            <id>gpg.passphrase</id>
            <passphrase>{Ka2GRXl0wJYHfqH6Os9oZQaHckX19TtM+C8qLOeS6bU=}</passphrase>
        </server>
    </servers>
</settings>